{% extends 'base.html' %}
{% block title %}글 삭제{% endblock %}

{% block content %}
<h1>Post 삭제 화면</h1>
<br>
{% if post.image %}
    <img class="card__image" src="{{ post.image.url }}" alt="">
{% else %}
    <img class="card__image" src="http://via.placeholder.com/600x600" alt="">
{% endif %}

<!-- 여기서 오타 엄청 났다.. -->
<form action="" method="POST">
    {% csrf_token %}
    <br>
    <p>한번 삭제된 게시물은 복구가 불가능합니다.</p>
    <p>그래도 삭제하시겠습니까?</p>
    <br>
    <input type="submit" value="삭제하기">
</form>
{% endblock %}
